# Django stuff
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Environment variables
.env

# VSCode and other editor files
.vscode/
.idea/

# Virtual environment
venv/

#AI ASSISTANCE
AUDIT_REPORT.md
IMPLEMENTATIN_GUIDE.md
